@use "sass:math" as math;
@use "@/assets/stylesheet/breakpoints" as B;

@mixin image-gap($gapPixel) {
  & {
    inset: math.div($gapPixel, 2);
    width: calc(100% - #{$gapPixel});
    height: calc(100% - #{$gapPixel});
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.images-grid {
  display: flex;
  flex-flow: row wrap;

  &__item {
    position: relative;
    margin: 0;
    padding: 0;
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: thin solid rgba(0,0,0,.12);

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    &:not(&--loading) & {
      &__spinner {
        display: none;
      }
    }

    img {
      z-index: 1;
      position: absolute;
      object-fit: cover;
      object-position: center;

      @include image-gap(0px);
    }

    &__spinner {
      position: relative;
      height: 24px;
      width: 24px;
      animation: spin 1s infinite linear;

      &::before,
      &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 100%;
        border: 2px solid #ddd;
      }

      &::before {
        clip: rect(0, 12px, 24px, 0px);
      }

      &::after {
        clip: rect(12px, 24px, 24px, 12px);
      }
    }
  }
}

@include B.sm() {
  $--gap: 24px;
  .images-grid {
    margin: 0 math.div($--gap, -2);

    &__item {
      border: none;
      padding: math.div($--gap, 2);

      img {
        @include image-gap(24px);
      }
    }
  }
}
