.property-gallery {

  &__divider {
    display: block;
    margin: 32px 0;
    color: transparent;
    background-color: transparent;
    border-color: currentColor;
    opacity: 0.12;
  }

  &__carousel-wrapper {
    display: flex;
    justify-content: center;
  }
}