@use "./theme" as T;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

body.theme {
  background-color: T.$background;
  transition: background-color
    T.$background-transition-duration
    T.$background-transition-timing;

  @include T.dark() {
    background-color: T.$background-dark;
  }
}
